PORT=7154
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

DB_HOST=localhost
DB_DATABASE_PAYMENT=EduSmart.PaymentManagementService
DB_USERNAME=
DB_PASSWORD=
DB_PORT=5432
DB_SSL_MODE=require
DB_TRUST_CERT=true

JWT_SECRET=