PORT=7154
CLOUDINARY_CLOUD_NAME=da1aqhx1g
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET

DB_HOST=edu-smart.postgres.database.azure.com
DB_DATABASE_PAYMENT=EduSmart.PaymentManagementService
DB_USERNAME=pbl6duter
DB_PASSWORD=Edusmartk21
DB_PORT=5432
DB_SSL_MODE=require
DB_TRUST_CERT=true

JWT_SECRET=T8tHezuFsRfZYj5dyhUcMxmvxmldsigmoreeyedpqlakwefzwwd